<div class="content">
	<div class="page-header full-content bg-red">
		<div class="row">
			<div class="col-md-12">
				<h1>FRG Time Reporting System <small>Stating Version</small></h1>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel_boder">
				<div class="panel-heading">
					<div class="panel-title"><h4>FRG Time Reporting System</h4></div>
				</div>
				<app-navigation></app-navigation>
				<div class="container">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>

<!---
<div class="content">
	<div class="page-header full-content bg-red">
		<div class="row">
			<div class="col-md-12">
				<h1>FRG Time Reporting System <small>Stating Version</small></h1>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel_boder">
				<div class="panel-heading">
					<div class="panel-title"><h4>FRG Time Reporting System</h4></div>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li class="active"><a href="#tab4_1" data-toggle="tab">Home</a></li>
						<li><a href="#tab4_2" data-toggle="tab">Reports</a></li>
						<li><a href="#tab4_3" data-toggle="tab">Setup</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab4_1">
							<div class="col-md-12">										
																
							</div>
						</div>
						<div class="tab-pane" id="tab4_2">
							<div class="col-md-12">
								<div class="panel col-md-8">
									<div class="panel-body">
										<ul class="list-material">
											<li class="">
												<a href="#" class="visible">
													<div class="col-md-12">
														<div class="col-md-4"></div>
														<div class="col-md-2">06MAR17</div>
														<div class="col-md-2">27FEB17</div>
														<div class="col-md-2">20FEB17</div>
														<div class="col-md-2">13FEB17</div>
													</div>
												</a>
											</li>
											<li class="">
												<a href="#" class="visible">
															<div class="col-md-12">
																<div class="col-md-4">John Bell</div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
															</div>
															<div class="col-md-12">
																<div class="col-md-4">Tim Weeks</div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
															</div>
															<div class="col-md-12">
																<div class="col-md-4" >Jonathan Leonardelli</div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
															</div>
															<div class="col-md-12">
																<div class="col-md-4">Chuck Beck</div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
															</div>
															<div class="col-md-12">
																<div class="col-md-4">Valerie Cooper</div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
																<div class="col-md-2"><input type="checkbox" class="bs-switch" checked   data-off-text="<i class='fa fa-times'></i>"></div>
															</div>
													</a>				
											</li>
										</ul>
									</div>
								</div>

								<div class="col-md-4">
									<br>
									<a class="btn btn-default"><span class="ion-android-settings"></span> Send Reminders</a><br><br>
									<a class="btn btn-default"><span class="ion-android-settings"></span> Schedule Reports</a>
									
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab4_3">		
								<div class="col-md-12">
									<div class="panel col-md-4">
										<div class="panel-body">
											<div class="col-md-3">Managers</div>
											<div class="col-md-9">
												<select class="selectize-header">
													<option value="Tim Weeks">Tim Weeks</option>
													<option value="John Bell" selected>John Bell</option>
													<option value="Jonathan">Jonathan</option>
													<option value="Chuck Beck">Chuck Beck</option>
													<option value="Valerie Cooper">Valerie Cooper</option>
													<option value="Wendy Culter">Wendy Culter</option>												
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="panel-body">
											<div class="col-md-9">Selected Users</div>
												<select data-placeholder="Choose a Country" class="chosen-select" multiple>
													<option value="">Avery Long</option>
													<option value="Rory Cullen">Rory Cullen</option>
													<option value="Will price">Will price</option>
													<option value="Wenjia Yang">Wenjia Yang</option>
													<option value="Mathew Synder">Mathew Synder</option>										
												</select>
										</div>
									</div>
									<div class="col-md-2">
										<div class="panel-body"><br><br><br><br>
											<a class="btn btn-floating show-on-hover">Unselect
												<i class="ion-android-arrow-forward"></i>													
											</a><br><br>
											<a class="btn btn-floating show-on-hover">
												<i class="ion-android-arrow-back">select</i>													
											</a>
										</div>
									</div>
									<div class="col-md-3">
										<div class="panel-body">
											<div class="col-md-9">Available Users</div>
												<select data-placeholder="Choose a Country" class="chosen-select" multiple>
													<option value="">Clay Parker</option>
													<option value="Cameron Visser ">Cameron Visser </option>
													<option value="Arul Alex">Arul Alex</option>
													<option value="BJ">BJ</option>
													<option value="Chad Mukherjee">Chad Mukherjee</option>
													<option value="Kyl McCathy">Kyl McCathy</option>
													<option value="Henry Skibo">Henry Skibo</option>
													<option value="Ian Oglesby">Ian Oglesby</option>														
												</select>
											
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!.content-->
