<div class="tab-pane" id="tab4_3">		
    <div class="col-md-12">
      <div class="panel col-md-4">
        <div class="panel-body">
          <div class="col-md-3">Managers</div>
          <div class="col-md-9">
            <select class="selectize-header">
              <option value="Tim Weeks">Tim Weeks</option>
              <option value="John Bell" selected>John Bell</option>
              <option value="Jonathan">Jonathan</option>
              <option value="Chuck Beck">Chuck Beck</option>
              <option value="Valerie Cooper">Valerie Cooper</option>
              <option value="Wendy Culter">Wendy Culter</option>												
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Selected Users</div>
            <select data-placeholder="Choose a Country" class="chosen-select" multiple>
              <option value="">Avery Long</option>
              <option value="Rory Cullen">Rory Cullen</option>
              <option value="Will price">Will price</option>
              <option value="Wenjia Yang">Wenjia Yang</option>
              <option value="Mathew Synder">Mathew Synder</option>										
            </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel-body"><br><br><br><br>
          <a class="btn btn-floating show-on-hover">Unselect
            <i class="ion-android-arrow-forward"></i>													
          </a><br><br>
          <a class="btn btn-floating show-on-hover">
            <i class="ion-android-arrow-back">select</i>													
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Available Users</div>
            <select data-placeholder="Choose a Country" class="chosen-select" multiple>
              <option value="">Clay Parker</option>
              <option value="Cameron Visser ">Cameron Visser </option>
              <option value="Arul Alex">Arul Alex</option>
              <option value="BJ">BJ</option>
              <option value="Chad Mukherjee">Chad Mukherjee</option>
              <option value="Kyl McCathy">Kyl McCathy</option>
              <option value="Henry Skibo">Henry Skibo</option>
              <option value="Ian Oglesby">Ian Oglesby</option>														
            </select>
          
        </div>
      </div>
    </div>
</div>